[AdaptiveTransparency]
enabled=true

[ContrastEffect]
contrast=0.2
enabled=false
intensity=0.4
saturation=1.7

[Desktop Entry]
Name=CatOS Color
X-KDE-PluginInfo-Author=CatOS
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=catosdev@qq.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=CatOS-Color-Opaque
X-KDE-PluginInfo-Version=20240730.0.1
X-KDE-PluginInfo-Website=
